<p><%= $player1 %> versus <%= $player2 %></p>

<p><%= $player2 %> has 100 hit points</p>

<form action="/attack" method="post">
  <button type="submit">Attack!</button>
</form>

<% if @player_2_attacked %>
  <p><%= $player1 %> attacked <%= $player2 %>!</p>
<% end %>
