<% if !!Game.instance.game_over %>
  <h1>Game over! <%= Game.instance.game_over.name %> wins!</h1>
<% else %>
  <h2><%= Game.instance.first_player.name %> versus <%= Game.instance.second_player.name %></h2>

  <p><%= Game.instance.second_player.name %> has <%= Game.instance.second_player.hit_points %> hit points</p>
  <p><%= Game.instance.first_player.name %> has <%= Game.instance.first_player.hit_points %> hit points</p>

  <form action="/attack" method="post">
    <button type="submit">Attack!</button>
  </form>

  <% if @player_2_attacked %>
    <p><%= Game.instance.first_player.name %> attacks <%= Game.instance.second_player.name %>!</p>
  <% end %>
<% end %>
