<p><%= $player1 %> versus <%= $player2 %></p>

<form action="/attack" method="post">
  <button type="submit">Attack!</button>
</form>

<% if @player_2_attacked %>
  <p><%= $player1 %> attacked <%= $player2 %>!</p>
<% end %>

<p><%= $player2 %> has <%= $player_2.hit_points %> hit points</p>