<p><%= @player_1_name %> versus <%= @player_2_name %></p>

<p><%= @player_2_name %> has 100 hit points</p>

<form action="/attack" method="post">
  <button type="submit">Attack!</button>
</form>

<% if @player_2_attacked %>
  <p><%= @player_1_name %> attacked <%= @player_2_name %>!</p>
<% end %>
